.Cabeçalho{
    background-color: #857CEE;
    height: 250px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Indie Flower', cursive;
}

.Corpo{
    display: flex;
    justify-content: center;
}

.Corpo-P1{
    display: flex;
    justify-content: left;
}