.Cabeçalho{
    background-color: #857CEE;
    height: 250px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Indie Flower', cursive;
}

.Corpo{
    display: flex;
    justify-content: center;
    background-color: #857CEE;
    padding: 0px;
    margin: 0px;
    height: 100px;
}

.Corpo-P1{
    display: flex;
    justify-content: flex-start;
    background-color: #857CEE;
    padding: 0px;
    margin: 0px;
    height: 500px;
}

.Corpo-Base{
    display: flex;
    justify-content: center;
    background-color: #857CEE;
    padding: 0px;
    margin: 0px;
    height: 300px;
}