.Cabeçalho{
    background-color: #857CEE;
    height: 2500px;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-family: 'Indie Flower', cursive;
}

.Corpo{
    display: flex;
    justify-content: center;
}

.Corpo-P1{
    display: flex;
    justify-content: flex-start;
}

.body{
    background-color: #857CEE;
    height: 1000px;
    margin: 0px;
    padding: 0px;
}